/* Author: Santhosh 
   URL: https://github.com/Gigacore
*/

body {
    background: #333;
    font-family: sans-serif;
    color: #ccc;
}
h3 {
    float: right;
    font-size: 1.17em;
    margin: 10px;
    width: 310px;
}
h1,h2,h3 {
    color: #fff;
    font-weight: normal;
    font-family: 'Electrolize', sans-serif;
}
#wrap {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
#player_wrap {
    float: left;
    position: relative;
    width: 560px;
}
ul#videos {
    float: right;
    margin: 0;
    position: relative;
    width: 600px;
}
li.video {
    background: #111;
    float: left;
    list-style: none outside none;
    margin: 5px;
    min-height: 90px;
    width: 450px;
    cursor: pointer;
    padding: 0 0 0 10px;
}
.video:hover { background: #222 }
.video > img {
    float: left;
    position: absolute;
}
#left_column {
    width: 550px;
    float: left;
}
#meta {
    background: #222;
    float: left;
    margin: 10px 0 0;
    min-height: 257px;
    padding: 0 0 10px 10px;
    width: 550px;
}
#title {
    background: #191919;
    margin: 10px 10px 10px 0;
    padding: 1px 10px;
}
#desc {
    line-height: 21px;
    padding: 0 10px 0 0;
    word-break: normal;
}
#credits {
    bottom: 0;
    right: 0;
    position: absolute;
    text-align: center;
}
#credits a { color: #CCCCCC }
